.mapDiv {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#customTextDiv {
	width: 283px;
	height: 100%;
	color: red;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.symbol {
	display: none;
}

.imageOptionsDiv {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: #f3f3f3;
	height: 100%;
	width: 283px;
}
.optionsImage {
	height: 30px;
	width: 30px;
}
.selectedImage {
	box-shadow: 0 0 0 3px rgb(101, 89, 204);
}
.featureList {
	background-color: #f3f3f3;
	color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 300px; /* Fixed width */
	height: 200px; /* Fixed height */
	overflow-y: auto; /* Enable vertical scroll */
	border: 1px solid #000000; /* Optional border for visual clarity */
	/* Optional padding inside the scrollable container */
}

ul {
	width: fit-content;
	display: flex;

	flex-direction: column;
	gap: 4px;
}

#customForm {
	position: absolute;
	top: 10px;
	right: 10px;
	background: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#customForm label {
	display: block;
	margin-bottom: 5px;
}
#customForm input {
	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
}

#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}
table {
	table-layout: fixed;
}
#customers td,
#customers th {
	border: 1px solid #ddd;
	padding: 8px;
}

#customers tr:nth-child(even) {
	background-color: #f2f2f2;
}

#customers tr:hover {
	background-color: #ddd;
}
tr {
	text-align: center;
}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #04aa6d;
	color: white;
}
input {
	height: 24px;
}
.homepage-title {
	font-size: 36px;
	padding-top: 36px;
}
.homepage-container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	align-items: center;
	width: 100%;
	background-color: beige;
	height: 100%;
}

.map-button {
	transition: transform 0.2s ease;
	width: 100px;
	height: 50px;
	background-color: #04aa6d;
	font-size: 24px;
	color: #ffffff;
	border: 2px solid rgba(0, 0, 0, 0.5); /* 2px border with 50% opacity */
	border-radius: 10px;
}

.map-button:hover {
	transform: scale(1.1);
	cursor: pointer;
}
